<div id="snippet-editor">
    <ul id="snippet-tabs">
	    <li><a href="#snippet-basic">Basic</a></li>
		<li><a href="#snippet-advanced">Advanced</a></li>
	</ul>
	<div id="snippet-basic" class="panel-container">
		<div>Snippet Preview:</div>
		<div id="snippet-preview"></div>
		<div id="snippet-basic-inputs">
			<label for="snippet-icon-url">Icon URL (png only):</label>
			<input type="text" id="snippet-icon-url" />
			<div>
				<button type="button" id="snippet-embed-button">Change Icon</button>
			</div>
			<label for="snippet-text">Text:</label>
			<textarea id="snippet-text"></textarea>
		</div>
	</div>
	<div id="snippet-advanced" class="panel-container">
		{{ textarea }}
	</div>
</div>
