<div id="snippet-body-editor">
    <ul id="snippet-body-tabs">
	    <li><a href="#snippet-body-basic">Basic</a></li>
		<li><a href="#snippet-body-advanced">Advanced</a></li>
	</ul>
	<div id="snippet-body-basic" class="panel-container">
		<div id="snippet-body-basic-inputs">
			<label for="snippet-body-icon-url">Icon URL (png only):</label>
			<input type="text" id="snippet-body-icon-url" />
			<label for="snippet-body-text">Text:</label>
			<textarea id="snippet-body-text"></textarea>
		</div>
		<p>Snippet Preview:</p>
		<div id="snippet-body-preview"></div>
	</div>
	<div id="snippet-body-advanced" class="panel-container">
		{{ textarea }}
	</div>
</div>
