{% load icanhaz %}
<div id="snippet-editor">
  {# ICanHaz Templates #}
  {% icanhaz %}
    <script type="text/html" id="snippet_template">
      <!--basic-->
      <div class="snippet">
        [[#icon]]
        <!--icon:[[ url ]]-->
        <img class="icon" src="[[ data ]]" />
        [[/icon]]
        <p>[[[ text ]]]</p>
      </div>
    </script>
  {% endicanhaz %}

  <ul id="snippet-tabs">
	<li><a href="#snippet-basic">{{ _('Basic') }}</a></li>
	<li><a href="#snippet-advanced">{{ _('Advanced') }}</a></li>
  </ul>
  <div id="snippet-basic" class="panel-container">
	<div>{{ _('Snippet Preview') }}</div>
	<div id="snippet-preview"></div>
	<div id="snippet-basic-inputs">
	  <label for="snippet-icon-url">{{ _('Icon URL (png only)') }}:</label>
	  <input type="text" id="snippet-icon-url" />
	  <div>
		<button type="button" id="snippet-embed-button">{{ _('Change Icon') }}</button>
	  </div>
	  <label for="snippet-text">{{ _('Text') }}:</label>
	  <textarea id="snippet-text"></textarea>
	</div>
	<div>{{ _('Add a link using wiki-syntax') }}: <code>[http://www.mozilla.com|{{ _('Link Text') }}]</code></div>
  </div>
  <div id="snippet-advanced" class="panel-container">
	{{ textarea }}
  </div>
</div>
